
.size{
  height: 350px;
  width: 250px;
}
.smallBox{
  height: 50px;
  width: 50px;
  border: 1px solid antiquewhite;
}

#topLeft{
  background-color: #ccc;
}
#b1{
  background-color: red ;
}
#b2{
  position: absolute ;
  top: 7px;
  left: 205px;
  background-color: orange ;
}

#topRight{
  position: absolute ;
  top: 7px;
  left: 257px;
  background-color: #e86f88;  
}
#b3{
  position: relative ;
  top: 0px;
  left: 200px;
  background-color: blue ;
}
#b4{
  position: relative ;
  top: 245px;
  left: 0px;
  background-color: steelblue ;
}

#bottomLeft{
  background-color: #79badb;
}
#b5{
  background-color: purple ;
}
#b6{
  position: relative ;
  top: 247px;
  left: 198px;
  background-color: coral ;
}

#bottomRight{
  background-color: #a2dbb1;
  position: absolute ;
  top: 357px;
  left: 257px;
}
#b7{
  position: relative ;
  top: 300px;
  left: 0px;
  background-color: gray ;
}
#b8{
  position: relative ;
  top: 247px;
  left: 198px;
  background-color: red ;
}